.suggestions__wrapper {
  display:flex;
  flex-direction:column;
  position:relative;
}
.no-suggestions {
	color: #999;
	padding: 0.5rem;
  position:absolute;
  top:100%;
  left:0;
  margin-top: 0;
	max-height: 165px;
  border-top-width: 0;
  overflow-y: auto;
	padding-left: 0;
	width: 180px;
}
.suggestions {
	border: 1px solid #999;
	border-top-width: 0;
	list-style: none;
	margin-top: 0;
	max-height: 165px;
	overflow-y: auto;
	padding-left: 0;
	width: 180px;
  background-color: #999;
  position:absolute;
  top:100%;
  left:0;

}
.suggestions li {
	padding: 0.5rem;
}
.suggestion-active,
.suggestions li:hover {
	background-color: #B2C535;
	color: black;
	cursor: pointer;
	font-weight: 700;
}
.suggestions li:not(:last-of-type) {
	border-bottom: 1px solid #999;
}
