.card__button {
	padding: 15px 20px 15px 60px;
	border-radius: 10px;
	background-color: white;
	border: 1px solid #f8c747;
	display: flex;
	align-items: center;
	font-family: Roboto;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 30px;
	position: relative;
	cursor: pointer;
}

.card__button::after {
	position: absolute;
	content: '';
	top: 15px;
	left: 20px;
	width: 30px;
	height: 30px;
}

.card__button:hover {
	background-color: #eba534;
}

.card__button_transport::after {
	background-image: url(../../../images/icon_transport.svg);
}

.card__button_accommodation::after {
	background-image: url(../../../images/icon_accomodation.svg);
}

.card__button_activity::after {
	background-image: url(../../../images/icon_activity.svg);
}
