.travel {
  max-width: 1110px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
  padding: 30px 30px;
}

.dateBox {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.date {
  /* width: 142px;
height: 29px; */
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #132529;
}

.triangle {
  width: 25px;
  height: 25px;
  background: url(../../images/TriangleGray.svg);
  background-size: cover;
  border: none;
  transition: all 0.2s ease-in-out;
}

.triangle:hover {
  cursor: pointer;
}


.triangleClose {
  composes: triangle;
  transform: rotate(180deg);
}

.eventImage {
  width: 200px;
  height: 118px;
}

.eventBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 20px;
  justify-content: space-between;
}

.eventIcon {
  width: 36px;
  height: 36px;
}

.eventTimeBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.eventTimeAndIconBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  height: fit-content;
}

.eventTime {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #132529;
}
