.customTooltip {
	background: #8a8a8a;
	border-radius: 10px;
}

.customTooltip__text {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #ffffff;
	max-width: 118px;
	margin: 0;
}

.customTooltip__box {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}
