.ticket {
  display: flex;
  flex-direction: row;
  max-width: 790px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}

.ticket__price {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 221px;
  border-right: 1px dashed #8a8a8a;
  padding: 50px 15px 0;
}

.ticket__price_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.price_text {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
}

.button {
  width: 181px;
  height: 55px;
  background-color: #F8C747;
  border-radius: 10px;
  border: none;
  padding: 0;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.ticket__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15.5px 30px 15.5px 30px;
  gap: 30px;
}

.company__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.company__image {
  width: 30px;
  height: 30px;
}

.company__name {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.ticket__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 27px;
}

.ticket__content:first-child {
  border-bottom: 1px dashed #8A8A8A;
}

.ticket__date_time {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
}

.ticket__date_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 95px;
  gap: 20px;
}

.ticket__date_content:last-child {
  align-items: flex-end;
}

.ticket__date_content:last-child .ticket__city_content {
  align-items: flex-end;
}


.ticket__city_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.tickets__content_box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ticket__middle {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 10px 0;
}

.ticket__duration {
  display: flex;
  flex-direction: row;
  gap: 56px;
  align-items: center;
}

.ticket__text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #8A8A8A;
  text-align: end;
}

.ticket__duration::after {
  content: '';
  width: 26px;
  height: 25px;
  background-image: url('../../images/airplane-down.svg');
}

.ticket__duration::before {
  content: '';
  width: 26px;
  height: 25px;
  background-image: url('../../images/airplane-up.svg');
}

.ticket__airplane_image {
  width: 24px;
  height: 24px;
}

.line {
  border: 1px solid #8A8A8A;
  border-radius: 10px;
  width: 265px;
  box-sizing: border-box;
}

.code {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #EBA534;
}

.ticket__code_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 265px;
}

.ticket__best_price {
  position: absolute;
  top: -14px;
  left: 20px;
  background-color: #B2C535;
  border-radius: 10px;
  width: 130px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}

.ticket__one_transfer {
  composes: ticket__best_price;
  background-color: #29A3D2;

}

.ticket__link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #132529;
  text-decoration: none;
}
