.search {
	padding: 100px 0 170px 0;
	width: 100%;
	background-image: url('../../images/bg.svg');
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media screen and (max-width: 560px) {
	.search {
		padding: 50px 20px 80px 20px;
	}
	.search__form {
		flex-wrap: wrap;
	}
}

.search__title {
	padding: 0;
	margin: 0 0 15px 0;
	font-family: 'Roboto';
	font-size: 45px;
	font-weight: 500;
	line-height: 53px;
	letter-spacing: 0em;
	text-align: left;
	color: white;
}

.search__subtitle {
	padding: 0;
	margin: 0;
	font-family: 'Roboto';
	font-size: 25px;
	font-weight: 300;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: left;
	margin-bottom: 60px;
	color: white;
}

.search__label {
	padding: 0;
	margin: 0;
	font-family: 'Roboto';
	font-size: 25px;
	font-weight: 500;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: left;
	margin-bottom: 25px;
	margin-left: 27px;
	color: white;
}

.search__form {
	display: flex;
	border: 2px solid white;
	border-radius: 10px;
	align-items: center;
	padding: 20px;
	max-width: 920px;
	font-family: 'Roboto';
}

.search__input {
	height: 55px;
	width: 170px;
	margin: 0;
	padding: 0;
	padding-left: 10px;
	font-family: 'Roboto';
	border: 1px solid black;
	font-size: 20px;
	font-weight: 300;
}

input[type='date']::-webkit-calendar-picker-indicator {
	opacity: 1;
	display: block;
	background: url('../../images/calendar.svg') no-repeat;
	width: 24px;
	height: 24px;
	margin-right: 5px;
}

.search__input_left {
	height: 55px;
	width: 170px;
	margin: 0;
	padding: 0;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	padding-left: 10px;
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 300;
}

.search__input_right {
	height: 55px;
	width: 170px;
	margin: 0;
	padding: 0;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	padding-left: 15px;
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 300;
}

.search__button {
	height: 55px;
	width: 168px;
	background-color: #f8c747;
	color: black;
	text-align: center;
	border-radius: 10px;
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 500;
	margin-left: 15px;
	padding: 0;
	border: 0;
}
.search__wrapper {
	position: relative;
}

.search__image {
	position: absolute;
	top: 17px;
	right: 10px;
}

.suggestions__wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
}
.no-suggestions {
	color: #999;
	padding: 0.5rem;
	position: absolute;
	top: 100%;
	left: 0;
}
.suggestions {
	border: 1px solid #999;
	border-top-width: 0;
	list-style: none;
	margin-top: 0;
	max-height: 165px;
	overflow-y: auto;
	padding-left: 0;
	width: 180px;
	background-color: #999;
	position: absolute;
	top: 100%;
	left: 0;
}
.suggestions li {
	padding: 0.5rem;
}
.suggestion-active,
.suggestions li:hover {
	background-color: #b2c535;
	color: black;
	cursor: pointer;
	font-weight: 700;
}
.suggestions li:not(:last-of-type) {
	border-bottom: 1px solid #999;
}

.noSuggestions {
	color: #999;
	padding: 0.5rem;
	position: absolute;
	top: 100%;
	left: 0;
	margin-top: 0;
	max-height: 165px;
	border-top-width: 0;
	overflow-y: auto;
	padding-left: 0;
	width: 180px;
}
